<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA6tH_DMCEhyWGx9-kJlMXKkeIuk242wu0</string>
	<key>GCM_SENDER_ID</key>
	<string>726795315040</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.driver</string>
	<key>PROJECT_ID</key>
	<string>taxi-2f9be</string>
	<key>STORAGE_BUCKET</key>
	<string>taxi-2f9be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:726795315040:ios:e845e9d491b7c860bde005</string>
</dict>
</plist>